/* Imports */
@import url('global.css');

.page-banner {
    background: var(--primary-green);
    color: white;
    padding: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    margin: 40px auto;
    padding: 30px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content h2 {
    margin-bottom: 20px;
    font-family: "Pirata One", system-ui;
    color: var(--beige);
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    background:  linear-gradient(green, yellow);
}