/* Imports */
@import url('global.css');


.contact-form {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
}
