/* imports */

@import url('global.css');


.footer {
    background: var(--primary-green);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}

.footer a {
    color: white;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-col h4 {
    font-family: "Pirata One", system-ui;
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.footer-col img {
    max-width: 100px;
    margin-right: 10px;

}
 /* Footer Social Media Icons   */
 .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 2.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: var(--primary-green);
    transform: scale(1.15);
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
}