/* imports */

@import url('global.css');


.footer {
    background: var(--primary-green);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}

.footer a {
    color: white;
    display: block;
    margin: 5px 0;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-col img {
    max-width: 100px;
    margin-right: 10px;

}
 