/* Global Styles */
/* CSS variables for consistent theming */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root {
    --primary-green: #0b3d2e;
    --secondary-brown: #c4a484;
    --yellow: #f4c430;
    --white: #ffffff;
    --beige: #f5f5dc;
}

.box-style {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: transform .3s linear;
}

.box-style:hover {
    transform: scale(1.02);
}
html {
    scroll-behavior: smooth;
}

h2 {
    font-family: "Pirata One", system-ui;
    color: var(--primary-green);
    font-size: 2rem;
    font-weight: 600;
}