/* imports */
@import url('global.css');

.main-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: var(--primary-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    color: var(--white);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-bottom: 1.4px solid var(--white);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 80px;
    height: auto;
    margin-right: 1rem;
}

.school-short {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    
}

.nav-links a {
    font-family: 'Arial', sans-serif;
    position: relative;
    margin: 0 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.login-btn {
    background: var(--yellow);
    padding: 6px 12px;
    border-radius: 4px;
    color: #000;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--yellow);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.login-btn {
    background: var(--yellow);
    color: #000 !important;
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: 600;
}

.login-btn:hover {
    background: #fff;
    color: var(--primary-green) !important;
}

.nav-links a:hover {
    color: var(--yellow);
    transform: translateY(-2px);
}


/* Responsive */
@media (max-width: 900px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--primary-green);
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        padding: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    .hamburger {
        display: block;
    }
}
@media (max-width: 900px) {
    .nav-links.active {
        display: flex;
    }
} 