/* imports */
@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* links */
*
.hero {
    height: 70vh;
    background: url('../images/hts-landing.jpeg') center/cover no-repeat;
    position: relative;
    width: 100%;
}

.hero-overlay {
    background: rgba(0,0,0,0.6);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay h1 {
    font-family: "Pirata One", system-ui;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5.23rem;
    margin-bottom: 10px;
    background: linear-gradient(green, yellow);
    background: -webkit-linear-gradient(green, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-overlay .motto {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-top: 15px;
    font-style: italic;
}

.hero-overlay .address {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin-top: 10px;
    opacity: 0.9;
}


.glance-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: var(--white);
}

.glance-section h2 {
    font-family: "Pirata One", system-ui;
    color: var(--beige);
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    background:  linear-gradient(green, yellow);
}

.stats-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.stat-card {
    padding: 20px;
    text-align: center;
    width: 200px;
}

.updates {
    margin-top: 40px;
    padding: 20px;
}
.updates h2 {
    font-family: "Pirata One", system-ui;
    color: var(--beige);
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    background:  linear-gradient(green, yellow);
} 